
/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 40px;
    height: 40px;
    font-size: 24px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50%;
}

.btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-primary:hover {
    box-shadow: inset 300px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}

.btn.btn-light {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-light:hover {
    box-shadow: inset 300px 0 0 0 var(--bs-primary);
    color: var(--bs-light) !important;
}

.btn-hover {
    transition: 0.5s;
}

.btn-hover:hover {
    color: var(--bs-secondary) !important;
}

/*** Section Title Start ***/
.section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-primary) !important;
}

.section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-primary) !important;
}

.sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-primary) !important;
}

.sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-primary) !important;
}


/*** Topbar Start ***/
.fixed-top .container {
    transition: 0.5s;
}

.topbar {
    padding: 2px 10px 2px 20px;
    background: var(--bs-primary) !important;
}

.topbar a,
.topbar a i {
    transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
    color: var(--bs-secondary) !important;
}


@media (max-width: 576px) {
    .topbar {
        display: none;    
    }
}
/*** Topbar End ***/


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: var(--bs-dark) !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--bs-dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #6fd598 !important;
}

.navbar-light .navbar-brand img {
    max-height: 50px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    margin-left: 15%;
}
}

@media (min-width: 1024px){
    .navbar-tamil-text{
        margin: 0px 10%;
    }
}
.tamil-text{
    font-size: 1.7rem;   
    color: var(--dark) !important;
}
.tamil-text:hover{
    font-size: 1.7rem;   
    color: #6fd598 !important;
}

.logo-text-color{
    color: #6fd598;
    font-size: 26px !important;
}






.book-appoint-bg{
    background: linear-gradient(#6fd598, #6fd598, #daf1e3);
    height: 45px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #000000 !important;
}
.book-appoint-bg:hover{
    border: #6fd598 2px solid !important;
    background: #fff !important;
    color: #6fd598 !important;
    padding: 10px;
}


.dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    transition: .5s;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--bs-white);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--bs-dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-light) !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--bs-primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}
/*** Carousel Hero Header Start ***/
.header-carousel {
    position: relative; 
}

.header-carousel .owl-nav .owl-prev {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--bs-primary);
    color: var(--bs-white);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--bs-primary);
    color: var(--bs-white);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 150px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}

@media (max-width: 576px) {
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        top: 630px;
        transition: 0.5s;
    }

    .header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
        width: 95% !important;
    }
 
}

.header-carousel .header-carousel-item,
.header-carousel .header-carousel-item img {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 95px;
    display: block;
    object-fit: cover;
    transition: 0.5s;

}

@media (max-width: 992px) {
    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
        margin-top: 0;
        transition: 0.5s;
    }

}

@media (min-width: 992px) {
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        margin-top: 50px;
    }
}

.header-carousel .header-carousel-item .carousel-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
}

.header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
    position: relative;
    width: 75%;
    
}
/*** Carousel Hero Header End ***/


/*** Single Page Hero Header Start ***/
.Header-top1{
    height: 100px;
}
.bg-breadcrumb {
    background-image: url(../img/home-bg-image11.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh !important;
}

.bg-breadcrumb .breadcrumb-item a {
    color: var(--bs-white) !important;
}
/*** Single Page Hero Header End ***/


/*** Service Start ***/
.service .service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .2) ;
}

.service .service-item .service-img {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.service .service-item .service-img img {
    transition: 0.5s;
}

.service .service-item .service-img::before {
    width: 100%;
    height: 0;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
    z-index: 5;
    
}

.service .service-item:hover .service-img::before {
    height: 100%;
    background: rgba(21, 185, 217, .3);
}

.service .service-item .service-img:hover img {
    transform: scale(1.3);
}

.service .service-item .service-content {
    position: relative;
    z-index: 2;

}

.service .service-item .service-content::before {
    width: 100%;
    height: 8px;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(21, 185, 217, .5);
    transition: 0.5s;
    z-index: 3;
}

.service .service-item:hover .service-content::before {
    background: rgba(21, 185, 217, .5);
    height: 100%;
}

.service .service-item .service-content .service-content-inner {
    transition: 0.5s;
}


.service .service-item:hover .service-content .service-content-inner {
    position: relative;
    color: var(--bs-white) !important;
    z-index: 9;
}
.service .service-item:hover .service-content .service-content-inner h5 {
    color: #2e358b;
}

/*** Service End ***/

/*** About Start ***/
.about .about-img {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
}

.about .about-img .about-img-inner {
    position: absolute;
    left: 0; 
    bottom: 0; 
    border: 10px solid; 
    border-color: var(--bs-white) var(--bs-white) var(--bs-white) var(--bs-white);
    border-radius: 50%;

}

.about .about-img .about-experience {
    position: absolute;
    top: 125px; 
    left: -125px; 
    transform: rotate(-90deg);
    background: transparent;
    color: var(--bs-primary);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
}

/*** About End ***/

/*** Feature Start ***/
.feature .feature-item {
    position: relative;
    display: flex;
    border: 1px solid var(--bs-primary);
    border-radius: 10px;
    background: var(--bs-light);
    transition: 0.5s;

}

.feature .feature-item::before {
    width: 0;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.feature .feature-item:hover::before {
    width: 100%;
    background: var(--bs-primary);
}

.feature .feature-item .feature-icon {
    display: inline-flex;
    border-radius: 10px;
    transition: 0.5s;
}

.feature .feature-item:hover .feature-icon {
    position: relative;
    z-index: 2;
}

.feature .feature-item:hover .feature-content {
    position: relative;
    color: var(--bs-white);
    z-index: 2;
}

.feature .feature-item:hover .feature-content h5 {
    color: var(--bs-dark);
}
/*** Feature End ***/


/*** Appointment Start ***/
.appointment {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/carousel-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.appointment .appointment-form {
    background: rgba(239, 162, 134, 0.3);
}

.appointment .appointment-form .btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.appointment .appointment-form .btn.btn-primary:hover {
    box-shadow: inset 600px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}
/*** Youtube Video start ***/
.video {
    position: relative;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    display: block;
    width: 33px;
    height: 44px;
    border-radius: 50%;
    transition: 0.5s;
    

}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 115px;
    height: 115px;
    background: var(--bs-primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
    transition: 0.5s;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--bs-secondary);
    border-radius: 50%;
    transition: all 300ms;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 33px solid var(--bs-white);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    margin-left: 5px;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    background: #000000;
    opacity: 1;
}
/*** Youtube Video End ***/
/*** Appointment End ***/


/*** Footer Start ***/
.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/footer-bg.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer .footer-item a {
    line-height: 35px;
    color: var(--bs-body);
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
}

.footer .footer-item a:hover {
    letter-spacing: 1px;
    color: var(--bs-primary);
}

/*** Footer End ***/

/*** copyright Start ***/
.copyright {
    background: var(--bs-dark) !important;
}
/*** copyright end ***/




/* popup box book appointment */
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box a {
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    text-decoration: none;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(33, 33, 33, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}




.modal:target {
    display: flex;
}




/* about page */
.about-image2{
    width: 300px;
    height: 300px;
}

.Available-time{
    height:200px;
    background-color: #edf5fb;
    border: #56b6d5 2px solid;
    color: #47d683;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 30px;
  
    font-weight: 700;
}
.Available-time:hover{
    border: #47d683 2px solid;
    background-color: #ebf6f0;
    color: var(--bs-primary);
}

.services-page-main-card:hover  .services-tit3{
    color: #fff !important;
}

.booking-app-into-btn{
    height: 25px;
    width: 27px;
    z-index: 99999;
    position: relative;
    top: 97px;
    left: 126px;
    cursor: pointer;
}
.content {
    position: relative;
    padding: 30px;
    border-radius: 4px;
    width: 72%;
    height: 100%;
    background-color: #fff;
    padding: 0px 30px;
}
._cUP1np9gMvFQrcPftuf.xahN8AEzyAvQtVj17TPv {
    margin: 0px;
}


/* changes stylish */
.home-text{
    text-align: justify;
}
.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo-title{
    display: flex;
    justify-content: left;
    align-items: center;
}
.footer-logo1 {
    height: 62px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.text-white {
    margin: 0px !important;
    cursor: pointer;
}
.about-page-sm{
    display: none !important;
}
.footer-aditional-pb{
    margin-bottom: 15px !important;
}
.footer-below-links{
    cursor: pointer !important;
}
.services-titles:hover{
    color: #fff !important;
}
.footer-icons-mr{
    margin: 5px !important;
}
.services-tit3{
    text-align: center;
}
.header-logo-titles{
    margin-left: 15px;
    padding: 10px 0px;
}
.gujarathi-name-text{
    font-size: 18px !important ;
}

.footer .footer-item a {
    color: #fff;
}
.footer-logo-title p {
    color: #fff;
}
.services-page-main-card{
    width: 30%;
}

/* services tables code */
.services-timing-card{
    margin-top: 50px;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    font-family: Arial, sans-serif;
}
th, td {
    border: 2px solid #7ec0dc;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #88d29d;
    color: white;
}
td {
    color: #000000;
    font-size: 17px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}
@media (max-width: 600px) {
table {
    width: 100%;
}
th, td {
    padding: 8px;
}
th {
    font-size: 14px;
}
td {
    font-size: 14px;
}
tr {
    line-height: 1.6;
    }
}

.undu-btn{
    position: absolute;
    top: 15px;
    right: 30px;
    color: #fe0606;
    font-size: 30px;
    text-decoration: none
}



/* mobile device media queries */
@media screen and (max-width: 767px) {
    .Header-top1 {
        display: none !important;
    }
    .logo-text-color {
        font-size: 19px !important;
    }
    .navbar-expand-lg{
        padding: 10px !important;
    }
    .box {
        justify-content: left;
        margin-bottom: 6px;
    }
    .navbar-tamil-text {
        margin-bottom: 13px;
    }
    .content {
        margin: 11px;
    }
    .about-page-sm{
        display: block !important;
    }
    .sub-title-sm{
        display: none;
    }
    .about-image2 {
        width: 200px;
        height: 200px;
    }
    .about-page-sm {
        margin-left: 19%;
        margin-bottom: 10px;
    }
    .about-title1{
        text-align: justify;
    }
    .sub-title::before {
        width: 51px !important;
        margin-right: -50px;
    }
    .section-title .sub-style::before {
        width: 53px !important;
        margin-left: -53px !important;
    }
    .footer-additional-pd{
        padding-left: 23px !important;
    }
    .navbar-light .navbar-brand img {
        max-height: 34px;
    }
    .logo-text-color {
        font-size: 14px !important;
    }

    /* button size increase */
    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 7px 15px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }
    .services-page-main-card{
        width: 100%;
    }
    .bg-breadcrumb {
        height: 57vh !important;
    }
    .small-device-pl{
        padding-left: 15px !important;
    }
    /* calender css */
    .Z3zhp7CS7tNsCSX6_KJW {
        padding-top: 59px !important;
    }
    .content {
        position: relative;
        padding: 0px;
        border-radius: 4px;
        width: 93% !important;
        height: 100% !important;
        margin-top: 4px !important;
        padding: 35px 0px 0px;
        margin-top: 100px !important;
    }
    .undu-btn{
        top: 3px !important;
        right: 317px !important;
    }
}
.footer-base-card{
    padding: 26px;
}

/* medium device media queries */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .Header-top1 {
        display: none;
    }
    .box {
        justify-content: left;
    }
    .about-image11{
        height: 560px;
    }
    .services-tit3 {
        font-size: 19px;
    }
    .booking-app-into-btn{
        top: 50px;
        left: 20px;
        z-index: 9999 !important;
    }
    .yHJsX7btzZUMOuQu_qbF.JfQGCpel4t_oM2foWCI3 {
        max-width: 340px;
        padding: 0 0px !important;
    }
}













